test/resources/xsd/CC043A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ie="http://ncts.dgtaxud.ec/CC043A" xmlns:complex_ncts="http://ncts.dgtaxud.ec/complex_ncts" xmlns:simple_ncts="http://ncts.dgtaxud.ec/simple_ncts" xmlns:tcl_ncts="http://ncts.dgtaxud.ec/tcl_ncts" xmlns:simple="http://ncts.dgtaxud.ec/simple" xmlns:tcl="http://ncts.dgtaxud.ec/tcl" xmlns:doc="http://ncts.dgtaxud.ec/doc" targetNamespace="http://ncts.dgtaxud.ec/CC043A" attributeFormDefault="unqualified" elementFormDefault="unqualified" version="40.20">
  <!--=========================================-->
  <!--===== IE043:E_ULD_PER  -->
  <!--===== UNLOADING PERMISSION  -->
  <!--===== NCTS P4 Phase Definition  -->
  <!--===== DDNTA 20.00  -->
  <!--===== XSD version v40.20  -->
  <!--===== Aligned with RFC-List version 0.29-->
  <!--=========================================-->
  <!--===== Imports =====-->
  <xs:import namespace="http://ncts.dgtaxud.ec/doc" schemaLocation="doc.xsd" />
  <xs:import namespace="http://ncts.dgtaxud.ec/complex_ncts" schemaLocation="complex_types_ncts.xsd" />
  <xs:import namespace="http://ncts.dgtaxud.ec/simple_ncts" schemaLocation="simple_types_ncts.xsd" />
  <xs:import namespace="http://ncts.dgtaxud.ec/tcl_ncts" schemaLocation="tcl_ncts.xsd" />
  <xs:import namespace="http://ncts.dgtaxud.ec/simple" schemaLocation="simple_types.xsd" />
  <xs:import namespace="http://ncts.dgtaxud.ec/tcl" schemaLocation="tcl.xsd" />
  <!--===== Root Element =====-->
  <xs:element name="CC043A" type="ie:CC043AType" />
  <!--===== Root Element Content =====-->
  <xs:complexType name="CC043AType">
    <xs:sequence>
      <xs:group ref="ie:MESSAGE" />
      <xs:element name="HEAHEA" type="ie:HEAHEAType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="HEADER" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRAPRIPC1" type="ie:TRAPRIPC1Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(PRINCIPAL) TRADER" />
            <doc:condition name="C027" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRACONCO1" type="ie:TRACONCO1Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(CONSIGNOR) TRADER" />
            <doc:rule name="R010" />
            <doc:condition name="C026" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRACONCE1" type="ie:TRACONCE1Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(CONSIGNEE) TRADER" />
            <doc:rule name="R011" />
            <doc:condition name="C001" />
            <doc:condition name="C026" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRADESTRD" type="ie:TRADESTRDType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(DESTINATION) TRADER" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CUSOFFDEPEPT" type="ie:CUSOFFDEPEPTType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(DEPARTURE) CUSTOMS OFFICE" />
            <doc:condition name="C027" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CUSOFFPREOFFRES" type="complex_ncts:CUSOFFPREOFFRESType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(PRESENTATION OFFICE) CUSTOMS OFFICE" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CTLCL1" type="ie:CTLCL1Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="CTL_CONTROL" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SEAINFSLI" type="ie:SEAINFSLIType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="SEALS INFO" />
            <doc:condition name="C026" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GOOITEGDS" type="ie:GOOITEGDSType" minOccurs="0" maxOccurs="999">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="GOODS ITEM" />
            <doc:condition name="C027" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== MESSAGE Content =====-->
  <xs:group name="MESSAGE">
    <xs:sequence>
      <xs:element name="SynIdeMES1" type="tcl_ncts:SyntaxIdentifier">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Syntax identifier" />
            <doc:codeList name="SyntaxIdentifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SynVerNumMES2" type="tcl_ncts:SyntaxVersionNumber">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Syntax version number" />
            <doc:codeList name="SyntaxVersionNumber" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesSenMES3" type="simple:Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Message sender" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SenIdeCodQuaMES4" type="simple:Alphanumeric_Max4" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Sender identification code qualifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesRecMES6" type="simple:Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Message recipient" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecIdeCodQuaMES7" type="simple:Alphanumeric_Max4" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Recipient identification code qualifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DatOfPreMES9" type="simple:DatePrepType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Date of preparation" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TimOfPreMES10" type="simple:TimeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Time of preparation" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IntConRefMES11" type="simple:Alphanumeric_Max14">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Interchange control reference" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecRefMES12" type="simple:Alphanumeric_Max14" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Recipient's reference/password" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecRefQuaMES13" type="simple:Alphanumeric_2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Recipient's reference/password qualifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AppRefMES14" type="simple:Alphanumeric_Max14" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Application reference" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PriMES15" type="simple:Alpha_1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Priority" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AckReqMES16" type="tcl:Flag" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Acknowledgement request" />
            <doc:codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComAgrIdMES17" type="simple:Alphanumeric_Max35" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Communications agreement id" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TesIndMES18" type="tcl:Flag" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Test indicator" />
            <doc:rule name="TR9085" />
            <doc:codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesIdeMES19" type="simple:Alphanumeric_Max14">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Message identification" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesTypMES20" type="tcl_ncts:MessageTypes">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Message type" />
            <doc:codeList name="MessageTypes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComAccRefMES21" type="simple:Alphanumeric_Max35" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Common access reference" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesSeqNumMES22" type="simple:Numeric_Max2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Message sequence number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FirAndLasTraMES23" type="tcl_ncts:FirstLast" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="First and last transfer" />
            <doc:codeList name="FirstLast" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <!--===== HEADER =====-->
  <xs:complexType name="HEAHEAType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="HEADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocNumHEA5" type="simple:MRNType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Document/reference number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TypOfDecHEA24" type="simple:AlphanumericCapitalTypeOfDeclaration" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Type of declaration" />
            <doc:condition name="C027" />
            <doc:codeList name="TypeOfDeclarationTransitExportProcedures" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouOfDesCodHEA30" type="simple:CountryCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Country of destination code" />
            <doc:condition name="C026" />
            <doc:condition name="C140" />
            <doc:codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouOfDisCodHEA55" type="simple:CountryCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Country of dispatch/export code" />
            <doc:condition name="C026" />
            <doc:condition name="C135" />
            <doc:codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdeOfMeaOfTraAtDHEA78" type="simple:Alphanumeric_Max27" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Identity of means of transport at departure (exp/trans)" />
            <doc:rule name="TR0035" />
            <doc:rule name="TR9090" />
            <doc:condition name="C026" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdeOfMeaOfTraAtDHEA78LNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Identity of means of transport at departure LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NatOfMeaOfTraAtDHEA80" type="simple:CountryCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Nationality of means of transport at departure" />
            <doc:rule name="TR0035" />
            <doc:rule name="TR9095" />
            <doc:condition name="C026" />
            <doc:codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConIndHEA96" type="tcl:Flag" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Containerised indicator" />
            <doc:condition name="C027" />
            <doc:codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AccDatHEA158" type="simple:DateType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Acceptance date" />
            <doc:condition name="C027" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotNumOfIteHEA305" type="simple:Numeric_Max5" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Total number of items" />
            <doc:condition name="C027" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotNumOfPacHEA306" type="simple:Numeric_Max7" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Total number of packages" />
            <doc:condition name="C027" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotGroMasHEA307" type="simple:Decimal_11_3" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Total gross mass" />
            <doc:condition name="C027" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== (PRINCIPAL) TRADER =====-->
  <xs:complexType name="TRAPRIPC1Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(PRINCIPAL) TRADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NamPC17" type="simple:TradNameType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Name" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StrAndNumPC122" type="simple:StreetNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Street and number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PosCodPC123" type="simple:PostalCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Postal code" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CitPC124" type="simple:CityType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="City" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouPC125" type="simple:CountryCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Country code" />
            <doc:codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NADLNGPC" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="NAD LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TINPC159" type="simple:TINType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="TIN" />
            <doc:rule name="R012" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HITPC126" type="simple:Alphanumeric_Max17" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Holder ID TIR" />
            <doc:condition name="C904" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== (CONSIGNOR) TRADER =====-->
  <xs:complexType name="TRACONCO1Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(CONSIGNOR) TRADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NamCO17" type="simple:TradNameType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Name" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StrAndNumCO122" type="simple:StreetNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Street and number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PosCodCO123" type="simple:PostalCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Postal code" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CitCO124" type="simple:CityType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="City" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouCO125" type="simple:CountryCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Country code" />
            <doc:codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NADLNGCO" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="NAD LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TINCO159" type="simple:TINType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="TIN" />
            <doc:rule name="R012" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== (CONSIGNEE) TRADER =====-->
  <xs:complexType name="TRACONCE1Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(CONSIGNEE) TRADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NamCE17" type="simple:TradNameType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Name" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StrAndNumCE122" type="simple:StreetNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Street and number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PosCodCE123" type="simple:PostalCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Postal code" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CitCE124" type="simple:CityType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="City" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouCE125" type="simple:CountryCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Country code" />
            <doc:codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NADLNGCE" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="NAD LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TINCE159" type="simple:TINType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="TIN" />
            <doc:rule name="R012" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== (DESTINATION) TRADER =====-->
  <xs:complexType name="TRADESTRDType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(DESTINATION) TRADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NamTRD7" type="simple:TradNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Name" />
            <doc:condition name="C160" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StrAndNumTRD22" type="simple:StreetNumType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Street and number" />
            <doc:condition name="C160" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PosCodTRD23" type="simple:PostalCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Postal code" />
            <doc:condition name="C160" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CitTRD24" type="simple:CityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="City" />
            <doc:condition name="C160" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouTRD25" type="simple:CountryCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Country code" />
            <doc:condition name="C160" />
            <doc:codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NADLNGRD" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="NAD LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TINTRD59" type="simple:TINType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="TIN" />
            <doc:rule name="R012" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== (DEPARTURE) CUSTOMS OFFICE =====-->
  <xs:complexType name="CUSOFFDEPEPTType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(DEPARTURE) CUSTOMS OFFICE" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RefNumEPT1" type="simple:CORefNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Reference number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== CTL_CONTROL =====-->
  <xs:complexType name="CTLCL1Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="CTL_CONTROL" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ConUnlCL130" type="simple:Numeric_1">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Continue unloading" />
            <doc:rule name="R510" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== SEALS INFO =====-->
  <xs:complexType name="SEAINFSLIType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="SEALS INFO" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SeaNumSLI2" type="simple:Numeric_Max4">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Seals number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SEAIDSID" type="complex_ncts:SEAIDSIDType" maxOccurs="9999">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="SEALS ID" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== GOODS ITEM =====-->
  <xs:complexType name="GOOITEGDSType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="GOODS ITEM" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IteNumGDS7" type="simple:Numeric_Max5">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Item number" />
            <doc:rule name="R005" />
            <doc:rule name="R007" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComCodTarCodGDS10" type="simple_ncts:CommodityCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Commodity code" />
            <doc:rule name="R060" />
            <doc:condition name="C015" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DecTypGDS15" type="simple:AlphanumericCapitalTypeOfDeclaration" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Type of declaration" />
            <doc:condition name="C045" />
            <doc:codeList name="TypeOfDeclarationTransitExportProcedures" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GooDesGDS23" type="simple:Alphanumeric_Max280">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Goods description" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GooDesGDS23LNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Goods description LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GroMasGDS46" type="simple:Decimal_11_3" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Gross mass" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NetMasGDS48" type="simple:Decimal_11_3" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Net mass" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouOfDisGDS58" type="simple:CountryCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Country of dispatch/export code" />
            <doc:condition name="C135" />
            <doc:codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouOfDesGDS59" type="simple:CountryCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Country of destination code" />
            <doc:condition name="C140" />
            <doc:codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PRODOCDC2" type="ie:PRODOCDC2Type" minOccurs="0" maxOccurs="99">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="PRODUCED DOCUMENTS/CERTIFICATES" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SPEMENMT2" type="ie:SPEMENMT2Type" minOccurs="0" maxOccurs="99">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="SPECIAL MENTIONS" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRACONCO2" type="ie:TRACONCO2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(CONSIGNOR) TRADER" />
            <doc:rule name="R010" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRACONCE2" type="ie:TRACONCE2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(CONSIGNEE) TRADER" />
            <doc:rule name="R011" />
            <doc:condition name="C002" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CONNR2" type="ie:CONNR2Type" minOccurs="0" maxOccurs="99">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="CONTAINERS" />
            <doc:condition name="C055" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PACGS2" type="ie:PACGS2Type" maxOccurs="99">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="PACKAGES" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SGICODSD2" type="ie:SGICODSD2Type" minOccurs="0" maxOccurs="9">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="SGI CODES" />
            <doc:rule name="R155" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== PRODUCED DOCUMENTS/CERTIFICATES =====-->
  <xs:complexType name="PRODOCDC2Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="PRODUCED DOCUMENTS/CERTIFICATES" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocTypDC21" type="simple:Alphanumeric_Max4">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Document type" />
            <doc:rule name="TR0103" />
            <doc:codeList name="DocumentTypeCommon" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocRefDC23" type="simple:Alphanumeric_Max35" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Document reference" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocRefDCLNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Document reference LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComOfInfDC25" type="simple_ncts:Alphanumeric_Max26" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Complement of information" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComOfInfDC25LNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Complement of information LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== SPECIAL MENTIONS =====-->
  <xs:complexType name="SPEMENMT2Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="SPECIAL MENTIONS" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AddInfCodMT23" type="simple:Alphanumeric_Max5">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Additional information coded" />
            <doc:rule name="TR0101" />
            <doc:codeList name="AdditionalInformationIdCommon" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExpFroECMT24" type="tcl:Flag" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Export from EC" />
            <doc:rule name="R075" />
            <doc:condition name="C075" />
            <doc:codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExpFroCouMT25" type="simple:CountryCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Export from country" />
            <doc:rule name="R075" />
            <doc:condition name="C075" />
            <doc:codeList name="CountryCodesCommonTransitOutsideCommunity" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== (CONSIGNOR) TRADER =====-->
  <xs:complexType name="TRACONCO2Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(CONSIGNOR) TRADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NamCO27" type="simple:TradNameType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Name" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StrAndNumCO222" type="simple:StreetNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Street and number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PosCodCO223" type="simple:PostalCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Postal code" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CitCO224" type="simple:CityType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="City" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouCO225" type="simple:CountryCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Country code" />
            <doc:codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NADLNGGTCO" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="NAD LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TINCO259" type="simple:TINType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="TIN" />
            <doc:rule name="R012" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== (CONSIGNEE) TRADER =====-->
  <xs:complexType name="TRACONCE2Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(CONSIGNEE) TRADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NamCE27" type="simple:TradNameType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Name" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StrAndNumCE222" type="simple:StreetNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Street and number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PosCodCE223" type="simple:PostalCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Postal code" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CitCE224" type="simple:CityType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="City" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouCE225" type="simple:CountryCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Country code" />
            <doc:codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NADLNGGICE" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="NAD LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TINCE259" type="simple:TINType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="TIN" />
            <doc:rule name="R012" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== CONTAINERS =====-->
  <xs:complexType name="CONNR2Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="CONTAINERS" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ConNumNR21" type="simple:Alphanumeric_Max17">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Container number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== PACKAGES =====-->
  <xs:complexType name="PACGS2Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="PACKAGES" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MarNumOfPacGS21" type="simple:Alphanumeric_Max42" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Marks &amp; numbers of packages" />
            <doc:condition name="C060" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MarNumOfPacGS21LNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Marks &amp; numbers of packages LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KinOfPacGS23" type="simple:Alphanumeric_2">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Kind of packages" />
            <doc:codeList name="KindOfPackages" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumOfPacGS24" type="simple:Numeric_Max5" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Number of packages" />
            <doc:rule name="R021" />
            <doc:condition name="C060" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumOfPieGS25" type="simple:Numeric_Max5" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Number of pieces" />
            <doc:condition name="C060" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== SGI CODES =====-->
  <xs:complexType name="SGICODSD2Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="SGI CODES" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SenGooCodSD22" type="tcl_ncts:SensitiveGoodsCode" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Sensitive goods code" />
            <doc:rule name="R156" />
            <doc:codeList name="SensitiveGoodsCode" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SenQuaSD23" type="simple:Decimal_11_3">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Sensitive quantity" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

