test/resources/xsd-iconvert/cc007a.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.00">
    <!--=========================================-->
    <!--===== CC007A -->
    <!--===== XSD version v1.00  -->
    <!--=========================================-->
    <!--===== Includes =====-->
    <!--<xs:include schemaLocation="./doc.xsd" />-->
    <!--<xs:include schemaLocation="./simple_types.xsd" />-->
    <xs:element name="description">
        <xs:complexType>
            <xs:attribute name="value" type="xs:token" use="required" />
        </xs:complexType>
    </xs:element>
    <xs:element name="rule">
        <xs:complexType>
            <xs:attribute name="name" type="xs:token" use="required" />
        </xs:complexType>
    </xs:element>
    <xs:element name="condition">
        <xs:complexType>
            <xs:attribute name="name" type="xs:token" use="required" />
        </xs:complexType>
    </xs:element>
    <xs:element name="codeLisUPt">
        <xs:complexType>
            <xs:attribute name="name" type="xs:token" use="required" />
            <xs:attribute name="type" type="xs:token" default="technical" />
        </xs:complexType>
    </xs:element>
    <!--===== Data Item Types =====-->
    <xs:simpleType name="Alpha_1">
        <xs:restriction base="AlphaType">
            <xs:length value="1" />
            <xs:pattern value="[^0-9]*" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alpha_1_-10">
        <xs:restriction base="AlphaType">
            <xs:length value="1" />
            <xs:pattern value="[a-zA-Z]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alpha_1_-11">
        <xs:restriction base="AlphaType">
            <xs:length value="1" />
            <xs:pattern value="[a-zA-Z]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alpha_1_-17">
        <xs:restriction base="AlphaType">
            <xs:length value="1" />
            <xs:pattern value="[a-zA-Z]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alpha_1_-18">
        <xs:restriction base="AlphaType">
            <xs:length value="1" />
            <xs:pattern value="[a-zA-Z]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alpha_1_-47">
        <xs:restriction base="AlphaType">
            <xs:length value="1" />
            <xs:pattern value="[a-zA-Z]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alpha_1_-54">
        <xs:restriction base="AlphaType">
            <xs:length value="1" />
            <xs:pattern value="[a-zA-Z]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alpha_1_-55">
        <xs:restriction base="AlphaType">
            <xs:length value="1" />
            <xs:pattern value="[a-zA-Z]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alpha_1_-56">
        <xs:restriction base="AlphaType">
            <xs:length value="1" />
            <xs:pattern value="[a-zA-Z]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alpha_1_-85">
        <xs:restriction base="AlphaType">
            <xs:length value="1" />
            <xs:pattern value="[a-zA-Z]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alpha_1_-88">
        <xs:restriction base="AlphaType">
            <xs:length value="1" />
            <xs:pattern value="[a-zA-Z]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alpha_2">
        <xs:restriction base="AlphaType">
            <xs:length value="2" />
            <xs:pattern value="[a-zA-Z]{2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alpha_2_-1">
        <xs:restriction base="AlphaType">
            <xs:length value="2" />
            <xs:pattern value="[a-zA-Z]{2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alpha_2_-111">
        <xs:restriction base="AlphaType">
            <xs:length value="2" />
            <xs:pattern value="[a-zA-Z]{2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alpha_2_-14">
        <xs:restriction base="AlphaType">
            <xs:length value="2" />
            <xs:pattern value="[a-zA-Z]{2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alpha_2_-2">
        <xs:restriction base="AlphaType">
            <xs:length value="2" />
            <xs:pattern value="[a-zA-Z]{2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alpha_2_-24">
        <xs:restriction base="AlphaType">
            <xs:length value="2" />
            <xs:pattern value="[a-zA-Z]{2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alpha_2_-26">
        <xs:restriction base="AlphaType">
            <xs:length value="2" />
            <xs:pattern value="[a-zA-Z]{2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alpha_2_-33">
        <xs:restriction base="AlphaType">
            <xs:length value="2" />
            <xs:pattern value="[a-zA-Z]{2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alpha_2_-40">
        <xs:restriction base="AlphaType">
            <xs:length value="2" />
            <xs:pattern value="[^0-9]*" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alpha_2_-44">
        <xs:restriction base="AlphaType">
            <xs:length value="2" />
            <xs:pattern value="[A-Z]{2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alpha_2_-74">
        <xs:restriction base="AlphaType">
            <xs:length value="2" />
            <xs:pattern value="[a-zA-Z]{2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alpha_2_-75">
        <xs:restriction base="AlphaType">
            <xs:length value="2" />
            <xs:pattern value="[a-zA-Z]{2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alpha_2_-93">
        <xs:restriction base="AlphaType">
            <xs:length value="2" />
            <xs:pattern value="[a-zA-Z]{2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alpha_3">
        <xs:restriction base="AlphaType">
            <xs:length value="3" />
            <xs:pattern value="[^0-9]*" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alpha_3_-103">
        <xs:restriction base="AlphaType">
            <xs:length value="3" />
            <xs:pattern value="[a-zA-Z]{3}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alpha_3_-106">
        <xs:restriction base="AlphaType">
            <xs:length value="3" />
            <xs:pattern value="[a-zA-Z]{3}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alpha_3_-45">
        <xs:restriction base="AlphaType">
            <xs:length value="3" />
            <xs:pattern value="[a-zA-Z]{3}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alpha_3_-90">
        <xs:restriction base="AlphaType">
            <xs:length value="3" />
            <xs:pattern value="[a-zA-Z]{3}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alpha_4">
        <xs:restriction base="AlphaType">
            <xs:length value="4" />
            <xs:pattern value="[a-zA-Z]{4}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alpha_4_-41">
        <xs:restriction base="AlphaType">
            <xs:length value="4" />
            <xs:pattern value="[a-zA-Z]{4}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alpha_4_-80">
        <xs:restriction base="AlphaType">
            <xs:length value="4" />
            <xs:pattern value="[a-zA-Z]{4}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alpha_Max2">
        <xs:restriction base="AlphaType">
            <xs:maxLength value="2" />
            <xs:pattern value="[a-zA-Z]{1,2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alpha_Max8">
        <xs:restriction base="AlphaType">
            <xs:maxLength value="8" />
            <xs:pattern value="[^0-9]*" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_1">
        <xs:restriction base="AlphaNumType">
            <xs:length value="1" />
            <xs:pattern value=".{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_1_-39">
        <xs:restriction base="AlphaNumType">
            <xs:length value="1" />
            <xs:pattern value=".{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_1_-52">
        <xs:restriction base="AlphaNumType">
            <xs:length value="1" />
            <xs:pattern value="[^0-9]*" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_1_-57">
        <xs:restriction base="AlphaNumType">
            <xs:length value="1" />
            <xs:pattern value=".{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_1_-67">
        <xs:restriction base="AlphaNumType">
            <xs:length value="1" />
            <xs:pattern value=".{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_1_-91">
        <xs:restriction base="AlphaNumType">
            <xs:length value="1" />
            <xs:pattern value=".{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_2">
        <xs:restriction base="AlphaNumType">
            <xs:length value="2" />
            <xs:pattern value=".{2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_2_-114">
        <xs:restriction base="AlphaNumType">
            <xs:length value="2" />
            <xs:pattern value=".{2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_2_-28">
        <xs:restriction base="AlphaNumType">
            <xs:length value="2" />
            <xs:pattern value=".{2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_2_-32">
        <xs:restriction base="AlphaNumType">
            <xs:length value="2" />
            <xs:pattern value=".{2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_2_-6">
        <xs:restriction base="AlphaNumType">
            <xs:length value="2" />
            <xs:pattern value=".{2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_2_-69">
        <xs:restriction base="AlphaNumType">
            <xs:length value="2" />
            <xs:pattern value=".{2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_2_-7">
        <xs:restriction base="AlphaNumType">
            <xs:length value="2" />
            <xs:pattern value=".{2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_2_-73">
        <xs:restriction base="AlphaNumType">
            <xs:length value="2" />
            <xs:pattern value=".{2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_2_-84">
        <xs:restriction base="AlphaNumType">
            <xs:length value="2" />
            <xs:pattern value=".{2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_2_-95">
        <xs:restriction base="AlphaNumType">
            <xs:length value="2" />
            <xs:pattern value=".{2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_3">
        <xs:restriction base="AlphaNumType">
            <xs:length value="3" />
            <xs:pattern value=".{3}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_3_-48">
        <xs:restriction base="AlphaNumType">
            <xs:length value="3" />
            <xs:pattern value=".{3}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_3_-70">
        <xs:restriction base="AlphaNumType">
            <xs:length value="3" />
            <xs:pattern value=".{3}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_3_-83">
        <xs:restriction base="AlphaNumType">
            <xs:length value="3" />
            <xs:pattern value=".{3}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_3_-99">
        <xs:restriction base="AlphaNumType">
            <xs:length value="3" />
            <xs:pattern value=".{3}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_4">
        <xs:restriction base="AlphaNumType">
            <xs:length value="4" />
            <xs:pattern value=".{4}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_4_-25">
        <xs:restriction base="AlphaNumType">
            <xs:length value="4" />
            <xs:pattern value=".{4}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_4_-58">
        <xs:restriction base="AlphaNumType">
            <xs:length value="4" />
            <xs:pattern value=".{4}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_4_-92">
        <xs:restriction base="AlphaNumType">
            <xs:length value="4" />
            <xs:pattern value=".{4}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_8">
        <xs:restriction base="AlphaNumType">
            <xs:length value="8" />
            <xs:pattern value=".{8}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max12">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="12" />
            <xs:pattern value=".{1,12}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max14">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="14" />
            <xs:pattern value=".{1,14}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max140">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="140" />
            <xs:pattern value=".{1,140}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max150">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="150" />
            <xs:pattern value=".{1,150}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max17">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="17" />
            <xs:pattern value=".{1,17}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max175">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="175" />
            <xs:pattern value=".{1,175}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max2">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="2" />
            <xs:pattern value=".{1,2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max20">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="20" />
            <xs:pattern value=".{1,20}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max21">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="21" />
            <xs:pattern value=".{1,21}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max210">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="210" />
            <xs:pattern value=".{1,210}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max22">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="22" />
            <xs:pattern value=".{1,22}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max24">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="24" />
            <xs:pattern value=".{1,24}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max256">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="256" />
            <xs:pattern value=".{1,256}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max26">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="26" />
            <xs:pattern value=".{1,26}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max27">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="27" />
            <xs:pattern value=".{1,27}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max280">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="280" />
            <xs:pattern value=".{1,280}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max29">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="29" />
            <xs:pattern value="[^0-9]*" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max2_-104">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="2" />
            <xs:pattern value=".{1,2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max2_-34">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="2" />
            <xs:pattern value=".{1,2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max2_-36">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="2" />
            <xs:pattern value=".{1,2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max2_-43">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="2" />
            <xs:pattern value=".{1,2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max3">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="3" />
            <xs:pattern value=".{1,3}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max35">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="35" />
            <xs:pattern value=".{1,35}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max350">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="350" />
            <xs:pattern value=".{1,350}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max3_-101">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="3" />
            <xs:pattern value=".{1,3}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max3_-105">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="3" />
            <xs:pattern value=".{1,3}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max3_-108">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="3" />
            <xs:pattern value=".{1,3}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max3_-37">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="3" />
            <xs:pattern value=".{1,3}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max3_-49">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="3" />
            <xs:pattern value=".{1,3}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max3_-51">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="3" />
            <xs:pattern value=".{1,3}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max3_-53">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="3" />
            <xs:pattern value=".{1,3}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max3_-63">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="3" />
            <xs:pattern value=".{1,3}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max3_-77">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="3" />
            <xs:pattern value=".{1,3}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max3_-96">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="3" />
            <xs:pattern value=".{1,3}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max3_-97">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="3" />
            <xs:pattern value=".{1,3}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max4">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="4" />
            <xs:pattern value=".{1,4}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max42">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="42" />
            <xs:pattern value=".{1,42}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max4_-5">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="4" />
            <xs:pattern value=".{1,4}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max4_-76">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="4" />
            <xs:pattern value=".{1,4}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max5">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="5" />
            <xs:pattern value=".{1,5}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max5242880">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="5242880" />
            <xs:pattern value=".{1,5242880}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max5_-13">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="5" />
            <xs:pattern value=".{1,5}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max5_-30">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="5" />
            <xs:pattern value=".{1,5}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max5_-72">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="5" />
            <xs:pattern value=".{1,5}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max6">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="6" />
            <xs:pattern value=".{1,6}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max6_-107">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="6" />
            <xs:pattern value=".{1,6}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max6_-21">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="6" />
            <xs:pattern value=".{1,6}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max6_-4">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="6" />
            <xs:pattern value=".{1,6}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max6_-78">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="6" />
            <xs:pattern value=".{1,6}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max6_-79">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="6" />
            <xs:pattern value=".{1,6}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max7">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="7" />
            <xs:pattern value=".{1,7}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max70">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="70" />
            <xs:pattern value=".{1,70}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max8">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="8" />
            <xs:pattern value=".{1,8}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max8_-109">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="8" />
            <xs:pattern value="[^0-9]*" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max9">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="9" />
            <xs:pattern value=".{1,9}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max9_-3">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="9" />
            <xs:pattern value=".{1,9}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max9_-64">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="9" />
            <xs:pattern value=".{1,9}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Max9_-82">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="9" />
            <xs:pattern value=".{1,9}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Min0Max14">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="14" />
            <xs:pattern value=".{0,14}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Min0Max140">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="140" />
            <xs:pattern value=".{0,140}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Min0Max2">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="2" />
            <xs:pattern value="[^0-9]*" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Min0Max256">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="256" />
            <xs:pattern value=".{0,256}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Min0Max256_-16">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="256" />
            <xs:pattern value=".{0,256}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Min0Max4">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="4" />
            <xs:pattern value=".{0,4}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Min0Max42">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="42" />
            <xs:pattern value=".{0,42}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Min0Max6">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="6" />
            <xs:pattern value=".{0,6}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Min0Max8">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="8" />
            <xs:pattern value=".{0,8}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Alphanumeric_Min0Max9">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="9" />
            <xs:pattern value=".{0,9}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Decimal_4">
        <xs:restriction base="AlphaNumType">
            <xs:length value="4" />
            <xs:pattern value="[0-1]{1}[0-9]{1}[0-5]{1}[0-9]{1}|[2]{1}[0-3]{1}[0-5]{1}[0-9]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Decimal_8">
        <xs:restriction base="AlphaNumType">
            <xs:length value="8" />
            <xs:pattern value="[1-2][0-9]{3}[0][1-9][0][1-9]|[1-2][0-9]{3}[0][1-9][1|2][0-9]|[1-2][0-9]{3}[0][1-9][3][0|1]|[1-2][0-9]{3}[1][0-2][0][1-9]|[1-2][0-9]{3}[1][0-2][1|2][0-9]|[1-2][0-9]{3}[1][0-2][3][0|1]" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Decimal_Max11">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="11" />
            <xs:pattern value=".{1,11}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Decimal_Max12">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="12" />
            <xs:pattern value="0|0\.[0-9]{1,3}|[1-9][0-9]*\.[0-9]{1,3}|[1-9][0-9]{0,10}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Decimal_Max12_-29">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="12" />
            <xs:pattern value="0|0\.[0-9]{1,3}|[1-9][0-9]*\.[0-9]{1,3}|[1-9][0-9]{0,10}R:^0|0\.[0-9]{1,3}|[1-9][0-9]*\.[0-9]{1,3}|[1-9][0-9]{0,10}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Decimal_Max12_-89">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="12" />
            <xs:pattern value="0|0\.[0-9]{1,2}|[1-9][0-9]*\.[0-9]{1,2}|[1-9][0-9]{0,10}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Decimal_Max16">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="16" />
            <xs:pattern value="0|0\.[0-9]{1,2}|[1-9][0-9]*\.[0-9]{1,2}|[1-9][0-9]{0,14}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Decimal_Max9">
        <xs:restriction base="AlphaNumType">
            <xs:maxLength value="9" />
            <xs:pattern value="0|0\.[0-9]{1,6}|[1-9][0-9]*\.[0-9]{1,6}|[1-9][0-9]{0,7}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_1">
        <xs:restriction base="NumType">
            <xs:length value="1" />
            <xs:pattern value="[0-9]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_12">
        <xs:restriction base="NumType">
            <xs:length value="12" />
            <xs:pattern value="[0-9]{12}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_14">
        <xs:restriction base="NumType">
            <xs:length value="14" />
            <xs:pattern value="[0-9]{14}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_1_-112">
        <xs:restriction base="NumType">
            <xs:length value="1" />
            <xs:pattern value="[0-9]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_1_-12">
        <xs:restriction base="NumType">
            <xs:length value="1" />
            <xs:pattern value="[0-9]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_1_-20">
        <xs:restriction base="NumType">
            <xs:length value="1" />
            <xs:pattern value="[0-9]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_1_-31">
        <xs:restriction base="NumType">
            <xs:length value="1" />
            <xs:pattern value="[0-9]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_1_-38">
        <xs:restriction base="NumType">
            <xs:length value="1" />
            <xs:pattern value="[0-9]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_1_-46">
        <xs:restriction base="NumType">
            <xs:length value="1" />
            <xs:pattern value="[0-9]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_1_-50">
        <xs:restriction base="NumType">
            <xs:length value="1" />
            <xs:pattern value="[0-9]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_1_-60">
        <xs:restriction base="NumType">
            <xs:length value="1" />
            <xs:pattern value="[0-9]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_1_-68">
        <xs:restriction base="NumType">
            <xs:length value="1" />
            <xs:pattern value="[0-9]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_1_-71">
        <xs:restriction base="NumType">
            <xs:length value="1" />
            <xs:pattern value="[0-9]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_1_-8">
        <xs:restriction base="NumType">
            <xs:length value="1" />
            <xs:pattern value="[0-9]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_1_-81">
        <xs:restriction base="NumType">
            <xs:length value="1" />
            <xs:pattern value="[0-9]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_2">
        <xs:restriction base="NumType">
            <xs:length value="2" />
            <xs:pattern value="[0-9]{2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_2_-110">
        <xs:restriction base="NumType">
            <xs:length value="2" />
            <xs:pattern value="[0-9]{2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_2_-42">
        <xs:restriction base="NumType">
            <xs:length value="2" />
            <xs:pattern value="[0-9]{2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_2_-59">
        <xs:restriction base="NumType">
            <xs:length value="2" />
            <xs:pattern value="[0-9]{2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_2_-66">
        <xs:restriction base="NumType">
            <xs:length value="2" />
            <xs:pattern value="[0-9]{2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_2_-86">
        <xs:restriction base="NumType">
            <xs:length value="2" />
            <xs:pattern value="[0-9]{2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_2_-87">
        <xs:restriction base="NumType">
            <xs:length value="2" />
            <xs:pattern value="[0-9]{2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_3">
        <xs:restriction base="NumType">
            <xs:length value="3" />
            <xs:pattern value="[0-9]{3}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_4">
        <xs:restriction base="NumType">
            <xs:length value="4" />
            <xs:pattern value="[0-1]{1}[0-9]{1}[0-5]{1}[0-9]{1}|[2]{1}[0-3]{1}[0-5]{1}[0-9]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_4_-115">
        <xs:restriction base="NumType">
            <xs:length value="4" />
            <xs:pattern value="[0-1]{1}[0-9]{1}[0-5]{1}[0-9]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_4_-116">
        <xs:restriction base="NumType">
            <xs:length value="4" />
            <xs:pattern value="[0-9]{4}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_4_-23">
        <xs:restriction base="NumType">
            <xs:length value="4" />
            <xs:pattern value="[0-9]{4}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_6">
        <xs:restriction base="NumType">
            <xs:length value="6" />
            <xs:pattern value="[0-9]{6}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_6_-100">
        <xs:restriction base="NumType">
            <xs:length value="6" />
            <xs:pattern value="[0-9]{2}[0][1-9][0][1-9]|[0-9]{2}[0][1-9][1|2][0-9]|[0-9]{2}[0][1-9][3][0|1]|[0-9]{2}[1][0-2][0][1-9]|[0-9]{2}[1][0-2][1|2][0-9]|[0-9]{2}[1][0-2][3][0|1]" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_8">
        <xs:restriction base="NumType">
            <xs:length value="8" />
            <xs:pattern value="[1-2][0-9]{3}[0][1-9][0][1-9]|[1-2][0-9]{3}[0][1-9][1|2][0-9]|[1-2][0-9]{3}[0][1-9][3][0|1]|[1-2][0-9]{3}[1][0-2][0][1-9]|[1-2][0-9]{3}[1][0-2][1|2][0-9]|[1-2][0-9]{3}[1][0-2][3][0|1]" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_8_-22">
        <xs:restriction base="NumType">
            <xs:length value="8" />
            <xs:pattern value="[0-9]{8}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_Max2">
        <xs:restriction base="NumType">
            <xs:maxLength value="2" />
            <xs:pattern value="[0-9]{1,2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_Max2_-102">
        <xs:restriction base="NumType">
            <xs:maxLength value="2" />
            <xs:pattern value="[0-9]{1,2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_Max2_-113">
        <xs:restriction base="NumType">
            <xs:maxLength value="2" />
            <xs:pattern value="[0-9]{1,2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_Max2_-15">
        <xs:restriction base="NumType">
            <xs:maxLength value="2" />
            <xs:pattern value="[0-9]{1,2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_Max2_-19">
        <xs:restriction base="NumType">
            <xs:maxLength value="2" />
            <xs:pattern value="[0-9]{1,2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_Max2_-27">
        <xs:restriction base="NumType">
            <xs:maxLength value="2" />
            <xs:pattern value="[0-9]{1,2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_Max2_-35">
        <xs:restriction base="NumType">
            <xs:maxLength value="2" />
            <xs:pattern value="[0-9]{1,2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_Max2_-61">
        <xs:restriction base="NumType">
            <xs:maxLength value="2" />
            <xs:pattern value="[0-9]{1,2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_Max2_-65">
        <xs:restriction base="NumType">
            <xs:maxLength value="2" />
            <xs:pattern value="[0-9]{1,2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_Max2_-9">
        <xs:restriction base="NumType">
            <xs:maxLength value="2" />
            <xs:pattern value="[0-9]{1,2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_Max2_-94">
        <xs:restriction base="NumType">
            <xs:maxLength value="2" />
            <xs:pattern value="[0-9]{1,2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_Max2_-98">
        <xs:restriction base="NumType">
            <xs:maxLength value="2" />
            <xs:pattern value="[0-9]{1,2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_Max3">
        <xs:restriction base="NumType">
            <xs:maxLength value="3" />
            <xs:pattern value="[0-9]{1,3}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_Max4">
        <xs:restriction base="NumType">
            <xs:maxLength value="4" />
            <xs:pattern value="[0-9]{1,4}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_Max4_-62">
        <xs:restriction base="NumType">
            <xs:maxLength value="4" />
            <xs:pattern value="[0-1]{1}[0-9]{1}[0-5]{1}[0-9]{1}|[2]{1}[0-3]{1}[0-5]{1}[0-9]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_Max5">
        <xs:restriction base="NumType">
            <xs:maxLength value="5" />
            <xs:pattern value="[0-9]{1,5}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_Max6">
        <xs:restriction base="NumType">
            <xs:maxLength value="6" />
            <xs:pattern value="[0-9]{1,6}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_Max7">
        <xs:restriction base="NumType">
            <xs:maxLength value="7" />
            <xs:pattern value="[0-9]{1,7}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_Max8">
        <xs:restriction base="NumType">
            <xs:maxLength value="8" />
            <xs:pattern value="[0-9]{1,8}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_Max9">
        <xs:restriction base="NumType">
            <xs:maxLength value="9" />
            <xs:pattern value="[0-9]{1,9}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_Min0Max2">
        <xs:restriction base="NumType">
            <xs:maxLength value="2" />
            <xs:pattern value="[0-9]{0,2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_Min0Max4">
        <xs:restriction base="NumType">
            <xs:maxLength value="4" />
            <xs:pattern value="[0-9]{0,4}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_Min0Max5">
        <xs:restriction base="NumType">
            <xs:maxLength value="5" />
            <xs:pattern value="[0-9]{0,5}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Numeric_Min6Max8">
        <xs:restriction base="NumType">
            <xs:maxLength value="8" />
            <xs:pattern value="[0-9]{6,8}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AlphaCapitalType">
        <xs:restriction base="AlphaType">
            <xs:pattern value="[A-Z]*" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AlphaNumType">
        <xs:annotation>
            <xs:documentation>Base class for all anN and an..N types</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token" />
    </xs:simpleType>
    <xs:simpleType name="AlphaType">
        <xs:annotation>
            <xs:documentation>Base class for all aN and a..N types</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token" />
    </xs:simpleType>
    <xs:simpleType name="AlphanumericCapitalType">
        <xs:restriction base="AlphaNumType">
            <xs:pattern value="[A-Z0-9]*" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NumType">
        <xs:annotation>
            <xs:documentation>Base class for all nN and n..N types</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token" />
    </xs:simpleType>
    <xs:simpleType name="DecType">
        <xs:annotation>
            <xs:documentation>Base class for all n..N,M types</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal" />
    </xs:simpleType>
    <xs:simpleType name="StringLatin1">
        <xs:restriction base="xs:string">
            <xs:pattern value="\p{IsBasicLatin}+" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DatePrepType">
        <xs:annotation>
            <xs:documentation>Date type (format YYMMDD)</xs:documentation>
        </xs:annotation>
        <xs:restriction base="NumType">
            <xs:length value="6" />
            <xs:pattern value="[0-9]{2}(([0][1|3|5|7|8])([0][1-9]|[1-2][0-9]|[3][0-1])|([0][4|6|9])([0][1-9]|[1-2][0-9]|[3][0])|([0][2])([0][1-9]|[1-2][0-9])|([1][0|2])([0][1-9]|[1-2][0-9]|[3][0-1])|([1][1])([0][1-9]|[1-2][0-9]|[3][0]))" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DateType">
        <xs:annotation>
            <xs:documentation>Date type (format YYYYMMDD)</xs:documentation>
        </xs:annotation>
        <xs:restriction base="NumType">
            <xs:length value="8" />
            <xs:pattern value="[1-9][0-9]{3}(([0][1|3|5|7|8])([0][1-9]|[1-2][0-9]|[3][0-1])|([0][4|6|9])([0][1-9]|[1-2][0-9]|[3][0])|([0][2])([0][1-9]|[1-2][0-9])|([1][0|2])([0][1-9]|[1-2][0-9]|[3][0-1])|([1][1])([0][1-9]|[1-2][0-9]|[3][0]))" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DateTypeExtended">
        <xs:annotation>
            <xs:documentation>Date type (format YYYYMMDDHHMNSS)</xs:documentation>
        </xs:annotation>
        <xs:restriction base="AlphaNumType">
            <xs:length value="14" />
            <xs:pattern value="[1-9][0-9][0-9]{2}(([0][1|3|5|7|8])([0][1-9]|[1-2][0-9]|[3][0-1])|([0][4|6|9])([0][1-9]|[1-2][0-9]|[3][0])|([0][2])([0][1-9]|[1-2][0-9])|([1][0|2])([0][1-9]|[1-2][0-9]|[3][0-1])|([1][1])([0][1-9]|[1-2][0-9]|[3][0]))([2][0-3]|[0][0-9]|[1][0-9])([0-5][0-9])(0-5)(0-9)(0-5)(0-9)" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DayInTheMonthType">
        <xs:annotation>
            <xs:documentation>Day in the Month (format DD)</xs:documentation>
        </xs:annotation>
        <xs:restriction base="NumType">
            <xs:length value="2" />
            <xs:pattern value="[0][1-9]|[1-2][0-9]|[3][0-1]" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DateTimeType">
        <xs:annotation>
            <xs:documentation>Date and Time with precision of minute (format YYYYMMDDHHMM)</xs:documentation>
        </xs:annotation>
        <xs:restriction base="AlphaNumType">
            <xs:length value="12" />
            <xs:pattern value="[1-9][0-9][0-9][0-9](([0][1|3|5|7|8])([0][1-9]|[1-2][0-9]|[3][0-1])|([0][4|6|9])([0][1-9]|[1-2][0-9]|[3][0])|([0][2])([0][1-9]|[1-2][0-9])|([1][0|2])([0][1-9]|[1-2][0-9]|[3][0-1])|([1][1])([0][1-9]|[1-2][0-9]|[3][0]))(([2][0-3]|[0][0-9]|[1][0-9])([0-5][0-9]))" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TimeType">
        <xs:annotation>
            <xs:documentation>Time with precision of minute (format HHMM)</xs:documentation>
        </xs:annotation>
        <xs:restriction base="NumType">
            <xs:length value="4" />
            <xs:pattern value="([2][0-3]|[0][0-9]|[1][0-9])([0-5][0-9])" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YearType">
        <xs:annotation>
            <xs:documentation>Year (format YYYY)</xs:documentation>
        </xs:annotation>
        <xs:restriction base="NumType">
            <xs:length value="4" />
            <xs:pattern value="[1-9][0-9]{3}" />
        </xs:restriction>
    </xs:simpleType>
    <!--===== Root Element =====-->
    <xs:element name="CC007A" type="CC007AType" />
    <!--===== MESSAGE Content =====-->
    <xs:complexType name="CC007AType">
        <xs:annotation>
            <xs:documentation />
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SynIdeMES1" type="Alpha_4" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="SynVerNumMES2" type="Numeric_1_-8" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="MesSenMES3" type="Alphanumeric_Max35" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="SenIdeCodQuaMES4" type="Alphanumeric_Min0Max4" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="MesRecMES6" type="Alphanumeric_Max35" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="RecIdeCodQuaMES7" type="Alphanumeric_Max4_-5" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="DatOfPreMES9" type="Numeric_Min6Max8" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="TimOfPreMES10" type="Numeric_4" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="IntConRefMES11" type="Alphanumeric_Max14" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="RecRefMES12" type="Alphanumeric_Max14" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="RecRefQuaMES13" type="Alphanumeric_2_-6" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="AppRefMES14" type="Alphanumeric_Max14" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="PriMES15" type="Alpha_1_-17" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="AckReqMES16" type="Numeric_1" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="ComAgrIdMES17" type="Alphanumeric_Max35" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="TesIndMES18" type="Numeric_1" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="MesIdeMES19" type="Alphanumeric_Max14" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="MesTypMES20" type="Alphanumeric_Min0Max6" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="ComAccRefMES21" type="Alphanumeric_Max35" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="MesSeqNumMES22" type="Numeric_Min0Max2" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="FirAndLasTraMES23" type="Alpha_1_-18" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="HEAHEA" type="HEAHEAType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="TRADESTRD" type="TRADESTRDType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="CUSOFFPREOFFRES" type="CUSOFFPREOFFRESType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="ENROUEVETEV" type="ENROUEVETEVType" minOccurs="0" maxOccurs="9">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HEAHEAType">
        <xs:annotation>
            <xs:documentation />
        </xs:annotation>
        <xs:sequence>
            <xs:element name="DocNumHEA5" type="Alphanumeric_Max21" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="CusSubPlaHEA66" type="Alphanumeric_Max17" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="ArrNotPlaHEA60" type="Alphanumeric_Max35" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="ArrNotPlaHEA60LNG" type="Alpha_2" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="ArrAgrLocCodHEA62" type="Alphanumeric_Max17" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="ArrAgrLocOfGooHEA63" type="Alphanumeric_Max35" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="ArrAgrLocOfGooHEA63LNG" type="Alpha_2" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="ArrAutLocOfGooHEA65" type="Alphanumeric_Max17" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="SimProFlaHEA132" type="Numeric_1" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="ArrNotDatHEA141" type="Numeric_8" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="DiaLanIndAtDesHEA255" type="Alpha_2_-24" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TRADESTRDType">
        <xs:annotation>
            <xs:documentation />
        </xs:annotation>
        <xs:sequence>
            <xs:element name="NamTRD7" type="Alphanumeric_Max35" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="StrAndNumTRD22" type="Alphanumeric_Max35" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="PosCodTRD23" type="Alphanumeric_Max9_-3" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="CitTRD24" type="Alphanumeric_Max35" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="CouTRD25" type="Alpha_2_-1" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="NADLNGRD" type="Alpha_2" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="TINTRD59" type="Alphanumeric_Max17" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CUSOFFPREOFFRESType">
        <xs:annotation>
            <xs:documentation />
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RefNumRES1" type="Alphanumeric_8" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ENROUEVETEVType">
        <xs:annotation>
            <xs:documentation />
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlaTEV10" type="Alphanumeric_Max35" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="PlaTEV10LNG" type="Alpha_2" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="CouTEV13" type="Alpha_2_-14" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="CTLCTL" type="CTLCTLType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="INCINC" type="INCINCType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="SEAINFSF1" type="SEAINFSF1Type" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="TRASHP" type="TRASHPType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CTLCTLType">
        <xs:annotation>
            <xs:documentation />
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AlrInNCTCTL29" type="Numeric_1" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="INCINCType">
        <xs:annotation>
            <xs:documentation />
        </xs:annotation>
        <xs:sequence>
            <xs:element name="IncFlaINC3" type="Numeric_1" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="IncInfINC4" type="Alphanumeric_Max350" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="IncInfINC4LNG" type="Alpha_2" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="EndDatINC6" type="Numeric_8" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="EndAutINC7" type="Alphanumeric_Max35" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="EndAutINC7LNG" type="Alpha_2" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="EndPlaINC10" type="Alphanumeric_Max35" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="EndPlaINC10LNG" type="Alpha_2" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="EndCouINC12" type="Alpha_2_-14" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SEAINFSF1Type">
        <xs:annotation>
            <xs:documentation />
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SeaNumSF12" type="Numeric_Min0Max4" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="SEAIDSI1" type="SEAIDSI1Type" minOccurs="1" maxOccurs="9999">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SEAIDSI1Type">
        <xs:annotation>
            <xs:documentation />
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SeaIdeSI11" type="Alphanumeric_Max20" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="SeaIdeSI11LNG" type="Alpha_2" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TRASHPType">
        <xs:annotation>
            <xs:documentation />
        </xs:annotation>
        <xs:sequence>
            <xs:element name="NewTraMeaIdeSHP26" type="Alphanumeric_Max27" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="NewTraMeaIdeSHP26LNG" type="Alpha_2" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="NewTraMeaNatSHP54" type="Alpha_2_-1" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="EndDatSHP60" type="Numeric_8" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="EndAutSHP61" type="Alphanumeric_Max35" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="EndAutSHP61LNG" type="Alpha_2" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="EndPlaSHP63" type="Alphanumeric_Max35" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="EndPlaSHP63LNG" type="Alpha_2" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="EndCouSHP65" type="Alpha_2_-14" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="CONNR3" type="CONNR3Type" minOccurs="0" maxOccurs="99">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CONNR3Type">
        <xs:annotation>
            <xs:documentation />
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ConNumNR31" type="Alphanumeric_Max17" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>