conf/xsd/CC043A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.00">
  <!--=========================================-->
  <!--===== CC043A -->
  <!--===== XSD version v1.00  -->
  <!--=========================================-->
  <!--===== Includes =====-->
  <xs:include schemaLocation="doc.xsd" />
  <xs:include schemaLocation="simple_types.xsd" />
  <!--===== Root Element =====-->
  <xs:element name="CC043A" type="CC043AType" />
  <!--===== MESSAGE Content =====-->
  <xs:complexType name="CC043AType">
    <xs:annotation>
      <xs:documentation />
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SynIdeMES1" type="Alpha_4" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="SynVerNumMES2" type="Numeric_1_-8" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="MesSenMES3" type="Alphanumeric_Max35" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="SenIdeCodQuaMES4" type="Alphanumeric_Max4_-5" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="MesRecMES6" type="Alphanumeric_Max35" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="RecIdeCodQuaMES7" type="Alphanumeric_Max4_-5" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="DatOfPreMES9" type="Numeric_Min6Max8" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="TimOfPreMES10" type="Numeric_4" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="IntConRefMES11" type="Alphanumeric_Max14" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="RecRefMES12" type="Alphanumeric_Max14" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="RecRefQuaMES13" type="Alphanumeric_2_-6" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="AppRefMES14" type="Alphanumeric_Max14" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="PriMES15" type="Alpha_1" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="AckReqMES16" type="Numeric_1" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="ComAgrIdMES17" type="Alphanumeric_Max35" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="TesIndMES18" type="Numeric_1" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="MesIdeMES19" type="Alphanumeric_Max14" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="MesTypMES20" type="Alphanumeric_Max6" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="ComAccRefMES21" type="Alphanumeric_Max35" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="MesSeqNumMES22" type="Numeric_Max2_-19" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="FirAndLasTraMES23" type="Alpha_1_-18" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="HEAHEA" type="HEAHEAType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="TRAPRIPC1" type="TRAPRIPC1Type" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="TRACONCO1" type="TRACONCO1Type" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="TRACONCE1" type="TRACONCE1Type" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="TRADESTRD" type="TRADESTRDType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="CUSOFFDEPEPT" type="CUSOFFDEPEPTType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="CUSOFFPREOFFRES" type="CUSOFFPREOFFRESType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="CTLCL1" type="CTLCL1Type" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="SEAINFSLI" type="SEAINFSLIType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="GOOITEGDS" type="GOOITEGDSType" minOccurs="0" maxOccurs="999">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HEAHEAType">
    <xs:annotation>
      <xs:documentation />
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocNumHEA5" type="Alphanumeric_Max21" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="TypOfDecHEA24" type="Alphanumeric_Max9" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="CouOfDesCodHEA30" type="Alpha_2_-1" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="CouOfDisCodHEA55" type="Alpha_2_-1" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="IdeOfMeaOfTraAtDHEA78" type="Alphanumeric_Max27" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="IdeOfMeaOfTraAtDHEA78LNG" type="Alpha_2" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="NatOfMeaOfTraAtDHEA80" type="Alpha_2_-1" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="ConIndHEA96" type="Numeric_1" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="AccDatHEA158" type="Numeric_8" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="NumOfLoaLisHEA304" type="Numeric_Max5" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="TotNumOfIteHEA305" type="Numeric_Max5" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="TotNumOfPacHEA306" type="Numeric_Max7" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="TotGroMasHEA307" type="Decimal_Max12" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TRAPRIPC1Type">
    <xs:annotation>
      <xs:documentation />
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NamPC17" type="Alphanumeric_Max35" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="StrAndNumPC122" type="Alphanumeric_Max35" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="PosCodPC123" type="Alphanumeric_Max9_-3" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="CitPC124" type="Alphanumeric_Max35" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="CouPC125" type="Alpha_2_-1" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="NADLNGPC" type="Alpha_2" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="TINPC159" type="Alphanumeric_Max17" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="HITPC126" type="Alphanumeric_Max17" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TRACONCO1Type">
    <xs:annotation>
      <xs:documentation />
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NamCO17" type="Alphanumeric_Max35" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="StrAndNumCO122" type="Alphanumeric_Max35" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="PosCodCO123" type="Alphanumeric_Max9_-3" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="CitCO124" type="Alphanumeric_Max35" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="CouCO125" type="Alpha_2_-1" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="NADLNGCO" type="Alpha_2" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="TINCO159" type="Alphanumeric_Max17" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TRACONCE1Type">
    <xs:annotation>
      <xs:documentation />
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NamCE17" type="Alphanumeric_Max35" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="StrAndNumCE122" type="Alphanumeric_Max35" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="PosCodCE123" type="Alphanumeric_Max9_-3" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="CitCE124" type="Alphanumeric_Max35" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="CouCE125" type="Alpha_2_-1" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="NADLNGCE" type="Alpha_2" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="TINCE159" type="Alphanumeric_Max17" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TRADESTRDType">
    <xs:annotation>
      <xs:documentation />
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NamTRD7" type="Alphanumeric_Max35" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="StrAndNumTRD22" type="Alphanumeric_Max35" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="PosCodTRD23" type="Alphanumeric_Max9_-3" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="CitTRD24" type="Alphanumeric_Max35" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="CouTRD25" type="Alpha_2_-1" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="NADLNGRD" type="Alpha_2" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="TINTRD59" type="Alphanumeric_Max17" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CUSOFFDEPEPTType">
    <xs:annotation>
      <xs:documentation />
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RefNumEPT1" type="Alphanumeric_8" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CUSOFFPREOFFRESType">
    <xs:annotation>
      <xs:documentation />
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RefNumRES1" type="Alphanumeric_8" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CTLCL1Type">
    <xs:annotation>
      <xs:documentation />
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ConUnlCL130" type="Numeric_1_-38" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SEAINFSLIType">
    <xs:annotation>
      <xs:documentation />
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SeaNumSLI2" type="Numeric_Max4" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="SEAIDSID" type="SEAIDSIDType" minOccurs="1" maxOccurs="9999">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SEAIDSIDType">
    <xs:annotation>
      <xs:documentation />
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SeaIdeSID1" type="Alphanumeric_Max20" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="SeaIdeSID1LNG" type="Alpha_2" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GOOITEGDSType">
    <xs:annotation>
      <xs:documentation />
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IteNumGDS7" type="Numeric_Max5" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="ComCodTarCodGDS10" type="Alphanumeric_Max22" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="DecTypGDS15" type="Alphanumeric_Max9" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="GooDesGDS23" type="Alphanumeric_Max280" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="GooDesGDS23LNG" type="Alpha_2" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="GroMasGDS46" type="Decimal_Max12" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="NetMasGDS48" type="Decimal_Max12" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="CouOfDisGDS58" type="Alpha_2_-1" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="CouOfDesGDS59" type="Alpha_2_-1" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="PRODOCDC2" type="PRODOCDC2Type" minOccurs="0" maxOccurs="99">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="SPEMENMT2" type="SPEMENMT2Type" minOccurs="0" maxOccurs="99">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="TRACONCO2" type="TRACONCO2Type" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="TRACONCE2" type="TRACONCE2Type" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="CONNR2" type="CONNR2Type" minOccurs="0" maxOccurs="99">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="PACGS2" type="PACGS2Type" minOccurs="0" maxOccurs="99">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="SGICODSD2" type="SGICODSD2Type" minOccurs="0" maxOccurs="9">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PRODOCDC2Type">
    <xs:annotation>
      <xs:documentation />
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocTypDC21" type="Alphanumeric_Max4" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="DocRefDC23" type="Alphanumeric_Max35" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="DocRefDCLNG" type="Alpha_2" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="ComOfInfDC25" type="Alphanumeric_Max26" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="ComOfInfDC25LNG" type="Alpha_2" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SPEMENMT2Type">
    <xs:annotation>
      <xs:documentation />
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AddInfCodMT23" type="Alphanumeric_Max5" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="ExpFroECMT24" type="Numeric_1" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="ExpFroCouMT25" type="Alpha_2_-2" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TRACONCO2Type">
    <xs:annotation>
      <xs:documentation />
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NamCO27" type="Alphanumeric_Max35" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="StrAndNumCO222" type="Alphanumeric_Max35" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="PosCodCO223" type="Alphanumeric_Max9_-3" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="CitCO224" type="Alphanumeric_Max35" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="CouCO225" type="Alpha_2_-1" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="NADLNGGTCO" type="Alpha_2" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="TINCO259" type="Alphanumeric_Max17" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TRACONCE2Type">
    <xs:annotation>
      <xs:documentation />
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NamCE27" type="Alphanumeric_Max35" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="StrAndNumCE222" type="Alphanumeric_Max35" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="PosCodCE223" type="Alphanumeric_Max9_-3" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="CitCE224" type="Alphanumeric_Max35" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="CouCE225" type="Alpha_2_-1" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="NADLNGGICE" type="Alpha_2" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="TINCE259" type="Alphanumeric_Max17" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CONNR2Type">
    <xs:annotation>
      <xs:documentation />
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ConNumNR21" type="Alphanumeric_Max17" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PACGS2Type">
    <xs:annotation>
      <xs:documentation />
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MarNumOfPacGS21" type="Alphanumeric_Max42" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="MarNumOfPacGS21LNG" type="Alpha_2" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="KinOfPacGS23" type="Alphanumeric_Max3" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="NumOfPacGS24" type="Numeric_Max5" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="NumOfPieGS25" type="Numeric_Max5" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SGICODSD2Type">
    <xs:annotation>
      <xs:documentation />
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SenGooCodSD22" type="Numeric_Max2" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
      <xs:element name="SenQuaSD23" type="Decimal_Max12" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>