conf/xsd/complex_types_ncts.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:complex_ncts="http://ncts.dgtaxud.ec/complex_ncts" xmlns:simple_ncts="http://ncts.dgtaxud.ec/simple_ncts" xmlns:tcl_ncts="http://ncts.dgtaxud.ec/tcl_ncts" xmlns:simple="http://ncts.dgtaxud.ec/simple" xmlns:tcl="http://ncts.dgtaxud.ec/tcl" xmlns:doc="http://ncts.dgtaxud.ec/doc" targetNamespace="http://ncts.dgtaxud.ec/complex_ncts" attributeFormDefault="unqualified" elementFormDefault="unqualified" version="40.20">
  <!--=========================================-->
  <!--===== NCTS_P4 Common Simple Data Groups  -->
  <!--===== DDNTA 20.00  -->
  <!--===== XSD version v40.20  -->
  <!--===== Aligned with RFC-List version 0.29-->
  <!--=========================================-->
  <!--===== Imports =====-->
  <xs:import namespace="http://ncts.dgtaxud.ec/doc" schemaLocation="doc.xsd" />
  <xs:import namespace="http://ncts.dgtaxud.ec/simple_ncts" schemaLocation="simple_types_ncts.xsd" />
  <xs:import namespace="http://ncts.dgtaxud.ec/tcl_ncts" schemaLocation="tcl_ncts.xsd" />
  <xs:import namespace="http://ncts.dgtaxud.ec/simple" schemaLocation="simple_types.xsd" />
  <xs:import namespace="http://ncts.dgtaxud.ec/tcl" schemaLocation="tcl.xsd" />
  <!--===== Common Simple Data Groups =====-->
  <xs:complexType name="ACCCODPC3Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="PRINCIPAL ACCESS CODE (OLD)" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AccCodPC31" type="simple:Alphanumeric_4">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Access code" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ACCDOC728Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="ACCESS CODE" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AccCodCOD729" type="simple:Alphanumeric_4">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Access code" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ACCDOCPC4Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="PRINCIPAL ACCESS CODE (NEW)" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AccCodPC41" type="simple:Alphanumeric_4">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Access code" />
            <doc:rule name="R350" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AUTFORGUASIMType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(GUARANTEE SIMPLIFICATION) CUSTOMS OFFICE" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RefNumSIM1" type="simple:CORefNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Reference number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="COICOSNType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="CUSTOMS OFFICE SPECIFIC NOTES" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SpecNotCodCN634" type="simple:Alphanumeric_Max6">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Specific notes code" />
            <doc:rule name="R486" />
            <doc:codeList name="SpecificNotesCode" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="COMINGCOUCUS041Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(COMPETENT AUTHORITY OF REQUESTING COUNTRY) CUSTOMS OFFICE" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RefCOMINGCOUCUS042" type="simple:CORefNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Reference number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="COMSTEDCOUCUS039Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(COMPETENT AUTHORITY OF REQUESTED COUNTRY) CUSTOMS OFFICE" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RefCOMSTEDCOUCUS040" type="simple:CORefNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Reference number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CONNR3Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="CONTAINERS" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ConNumNR31" type="simple:Alphanumeric_Max17">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Container number" />
            <doc:rule name="R190" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="COUGRTType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(GUARANTEE) COUNTRY" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CouCodGRT764" type="tcl:CountryCodesCustomsOfficeLists">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Country code" />
            <doc:codeList name="CountryCodesCustomsOfficeLists" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="COUHOLDATLSD121Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="COUNTRY HOLIDAYS DATA LSD" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="LanCod102" type="simple:LanguageCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Language code" />
            <doc:codeList name="LanguageCodes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PubHolNam89" type="simple:Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Public holiday name" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PubHolNam89LNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Public holiday name LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="COUHOLLSD117Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="COUNTRY/REGION HOLIDAYS LSD" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="LanCod88" type="simple:LanguageCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Language code" />
            <doc:codeList name="LanguageCodes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PubHolNam89" type="simple:Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Public holiday name" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PubHolNam89LNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Public holiday name LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="COUINVType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(INVOLVED) COUNTRY" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CouCodINV719" type="simple:CountryCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Country code" />
            <doc:codeList name="CountryCodesFullList" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="COULSD115Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="COUNTRY/REGION LSD" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="LanCod80" type="simple:LanguageCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Language code" />
            <doc:codeList name="LanguageCodes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouNam81" type="simple:Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Country/region name" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouNam81LNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Country/region name LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="COUNAVMATType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="UNAVAILABILITY MATRIX" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CouUnaMatFrom670" type="simple:DateTimeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Time from" />
            <doc:rule name="R660" />
            <doc:rule name="TR0105" />
            <doc:rule name="TR0107" />
            <doc:rule name="TR9020" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouUnaMatTo671" type="simple:DateTimeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Time to" />
            <doc:rule name="R660" />
            <doc:rule name="TR0105" />
            <doc:rule name="TR9020" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CTLCTLType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="CTL_CONTROL" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AlrInNCTCTL29" type="tcl:Flag">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Already in NCTS" />
            <doc:codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CUSOFFDESDECDDCType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(DESTINATION DECLARED) CUSTOMS OFFICE" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RefNumDDC1" type="simple:CORefNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Reference number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CUSOFFEXPERTType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(EXPORT) CUSTOMS OFFICE" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RefNumERT1" type="simple:CORefNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Reference number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CUSOFFEXTDECEDCType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(EXIT DECLARED) CUSTOMS OFFICE" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RefNumEDC11" type="simple:CORefNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Reference number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CUSOFFLSD109Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="CUSTOMS OFFICE LSD" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="LanCod44" type="simple:LanguageCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Language code" />
            <doc:codeList name="LanguageCodes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CusOffUsuNam45" type="simple:Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Customs office usual name" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CusOffUsuNam45LNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Customs office usual name LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StrAndNum47" type="simple:StreetNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Street and number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StrAndNum47LNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Street and number LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Cit49" type="simple:CityType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="City" />
            <doc:rule name="R422" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Cit49LNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="City LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PreLev51" type="tcl:PrefixSuffixLevel" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Prefix-suffix level" />
            <doc:codeList name="PrefixSuffixLevel" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PreFla52" type="tcl:Flag">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Prefix-suffix flag" />
            <doc:codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PreNam53" type="simple:Alphanumeric_Max35" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Prefix-suffix name" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PreNam53LNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Prefix-suffix name LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Spa55" type="tcl:Flag">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Space to add" />
            <doc:codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CUSOFFPREOFFRESType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(PRESENTATION OFFICE) CUSTOMS OFFICE" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RefNumRES1" type="simple:CORefNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Reference number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CUSOFFRECRCVType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(RECOVERY) CUSTOMS OFFICE" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RefNumRCV1" type="simple:CORefNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Reference number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CUSOFFREQType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(REQUESTER) CUSTOMS OFFICE" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RefNumEPR1" type="simple:CORefNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Reference number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CUSOFFRETCOPOCPType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(RETURN COPIES) CUSTOMS OFFICE" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RefNumOCP1" type="simple:CORefNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Reference number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CusOffNamOCP2" type="simple:Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Customs office name" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StrAndNumOCP3" type="simple:StreetNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Street and number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouOCP4" type="simple:CountryCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Country code" />
            <doc:codeList name="CountryCodesCommonTransit" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PosCodOCP6" type="simple:PostalCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Postal code" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CitOCP7" type="simple:CityType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="City" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NADLNGOCP" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="NAD LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CUSOFFROLCOM112Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="CUSTOMS OFFICE ROLE / TRAFFIC COMPETENCE" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Rol70" type="simple:Alpha_3">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Role" />
            <doc:codeList name="Role" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TraTyp71" type="simple:Alphanumeric_Max3">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Traffic type" />
            <doc:codeList name="TrafficType" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CUSOFFTRADECCOFType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(TRANSIT DECLARED) CUSTOMS OFFICE" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RefNumCOF1" type="simple:CORefNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Reference number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CUSOFFTRARNSType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(TRANSIT) CUSTOMS OFFICE" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RefNumRNS1" type="simple:CORefNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Reference number" />
            <doc:rule name="R906" />
            <doc:rule name="R907" />
            <doc:rule name="R908" />
            <doc:rule name="R910" />
            <doc:rule name="TR0635" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArrTimTRACUS085" type="simple:DateTimeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Arrival Time" />
            <doc:rule name="R660" />
            <doc:condition name="C598" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CUSTOFFCOMAUTRECType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(COMPETENT AUTHORITY FOR RECOVERY) CUSTOMS OFFICE" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RefNumREC1" type="simple:CORefNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Reference number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CUSTOFFDEPEPT2Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(DEPARTURE) CUSTOMS OFFICE" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RefNumEPT22" type="simple:CORefNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Reference number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CUSTOFFDESEST2Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(DESTINATION) CUSTOMS OFFICE" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RefNumEST22" type="simple:CORefNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Reference number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CUSTOFFGUARNTType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(GUARANTEE) CUSTOMS OFFICE" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RefNumRNT1" type="simple:CORefNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Reference number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CUSTOFFREDType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(REQUESTED) CUSTOMS OFFICE" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RefNumRED1" type="simple:CORefNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Reference number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENQINF136Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="ENQUIRY INFORMATION" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="InfCodENQINF138" type="simple:Numeric_2">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Information Code" />
            <doc:rule name="R001" />
            <doc:codeList name="InformationCode" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InfTexENQINF460" type="simple:Alphanumeric_Max140" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Information text" />
            <doc:condition name="C320" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InfTexENQINF460LNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Information text LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EXPEXPType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="EXPOSURE" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ExpEXP1" type="simple:Decimal_15_2">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Exposure" />
            <doc:rule name="R021" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExpCouEXP2" type="simple_ncts:Numeric_Max8">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Exposure counter" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BalEXP3" type="simple:Decimal_15_2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Balance" />
            <doc:rule name="R021" />
            <doc:condition name="C286" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurEXP4" type="simple:AlphaCapital3Type">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Currency" />
            <doc:rule name="R267" />
            <doc:codeList name="CurrencyCodes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GUACOMGUAGDS2Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="GOODS ITEM" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ComCodGDS210" type="simple_ncts:CommodityCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Commodity code" />
            <doc:rule name="TR0102" />
            <doc:rule name="TR9050" />
            <doc:condition name="C230" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SenGooCodGDS213" type="tcl_ncts:SensitiveGoodsCode" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Sensitive goods code" />
            <doc:rule name="R156" />
            <doc:codeList name="SensitiveGoodsCode" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GooDesGDS211" type="simple:Alphanumeric_Max280">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Goods description" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GooDesGDS211LNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Goods description LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GUAGRTGDS3Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="GOODS ITEM" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ComCodGDS311" type="simple_ncts:CommodityCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Commodity code" />
            <doc:rule name="TR0102" />
            <doc:rule name="TR9050" />
            <doc:condition name="C230" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SenGooGDS314" type="tcl_ncts:SensitiveGoodsCode" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Sensitive goods code" />
            <doc:rule name="R156" />
            <doc:codeList name="SensitiveGoodsCode" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GooDesGDS312" type="simple:Alphanumeric_Max280">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Goods description" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GooDesGDS312LNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Goods description LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GUAOTHADDType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="GUARANTOR OTHER ADDRESSES" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AddTypADD11" type="tcl_ncts:AddressType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Address type" />
            <doc:codeList name="AddressType" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NamADD12" type="simple:TradNameType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Name" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StrAndNumADD13" type="simple:StreetNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Street and number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PosCodADD22" type="simple:PostalCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Postal code" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CitADD15" type="simple:CityType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="City" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouADD14" type="tcl:CountryCodesCustomsOfficeLists">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Country code" />
            <doc:codeList name="CountryCodesCustomsOfficeLists" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NADLNGGOA" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="NAD LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConPerADD16" type="simple:Alphanumeric_Max35" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Contact person" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PhoNumADD17" type="simple:Alphanumeric_Max35" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Phone number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FaxNumADD18" type="simple:Alphanumeric_Max35" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Fax number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TelNumADD19" type="simple:Alphanumeric_Max35" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Telex number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MaiAddADD20" type="simple:emailAddressType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="E-mail address" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LanCodADD21" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Language code" />
            <doc:codeList name="LanguageCodes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GUARNRGUARNTINFOType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="GUARANTOR" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NamGU720" type="simple:TradNameType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Name" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StrAndNumGU721" type="simple:StreetNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Street and number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PosCodGU722" type="simple:PostalCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Postal code" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CitGU723" type="simple:CityType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="City" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NADLNGGU725" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="NAD LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConDetGU725" type="simple:Alphanumeric_Max140">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Contact details in country of competent authority" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TINGU726" type="simple:TINType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="TIN" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="INCINCType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="INCIDENT" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IncFlaINC3" type="tcl:Flag" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Incident flag" />
            <doc:rule name="TR9030" />
            <doc:codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IncInfINC4" type="simple:Alphanumeric_Max350" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Incident information" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IncInfINC4LNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Incident information LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EndDatINC6" type="simple:DateType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Endorsement date" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EndAutINC7" type="simple:Alphanumeric_Max35" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Endorsement authority" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EndAutINC7LNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Endorsement authority LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EndPlaINC10" type="simple:Alphanumeric_Max35" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Endorsement place" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EndPlaINC10LNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Endorsement place LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EndCouINC12" type="simple:CountryCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Endorsement country" />
            <doc:codeList name="CountryCodesCommonTransit" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="INDGUAVOUType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="INDIVIDUAL GUARANTEE VOUCHER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DatOfIssVOU745" type="simple:DateType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Date of issue" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExpDatVOU746" type="simple:DateType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Expiry date" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HarCopGivToPriVOU747" type="tcl:Flag">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Hard copy given to Principal" />
            <doc:codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LimValVOU748" type="tcl:Flag">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Limited validity (sensitive goods)" />
            <doc:codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TIRCarVOU749" type="tcl:Flag">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="TIR carnet" />
            <doc:codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VouAmoVOU750" type="simple:Decimal_15_2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Voucher amount" />
            <doc:rule name="R021" />
            <doc:condition name="C232" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurVOU751" type="simple:AlphaCapital3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Currency" />
            <doc:rule name="R267" />
            <doc:condition name="C232" />
            <doc:codeList name="CurrencyCodes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="INTERRORSType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="INTERCHANGE ERRORS" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IntConRefINT2" type="simple:Alphanumeric_Max14">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Interchange control reference" />
            <doc:rule name="TR9250" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesSenINT4" type="simple:Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Message sender" />
            <doc:rule name="TR9250" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesRecINT5" type="simple:Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Message recipient" />
            <doc:rule name="TR9250" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ActRecINT1" type="tcl_ncts:ActionCodes">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Action taken by recipient" />
            <doc:codeList name="ActionCodes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ErrTypINT6" type="tcl_ncts:ErrorCodesForEdiNck" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Syntax error" />
            <doc:rule name="TR0901" />
            <doc:codeList name="ErrorCodesForEdiNck" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IntSegTagINT3" type="tcl_ncts:InterchangeServiceSegmentTags" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Interchange service segment" />
            <doc:rule name="TR0903" />
            <doc:codeList name="InterchangeServiceSegmentTags" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PosElmntINT7" type="simple:Numeric_Max3" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Position of erroneous data element" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PosCompINT8" type="simple:Numeric_Max3" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Position of erroneous data component" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="INVGUAREAType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="INVALID GUARANTEE REASON" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="InvGuaReaCod724" type="simple:AlphanumericCapitalMax3Type">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Invalid guarantee reason code" />
            <doc:codeList name="InvalidGuaranteeReasonCodes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="INVGUARNSType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="INVALID GUARANTEE REASON" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="InvGuaReaCodRNS11" type="simple:AlphanumericCapitalMax3Type">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Invalid guarantee reason code" />
            <doc:codeList name="InvalidGuaranteeReasonCodes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InvGuaReaRNS12" type="simple:Alphanumeric_Max350" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Invalid guarantee reason" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InvGuaReaRNS12LNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Invalid guarantee reason LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ITIType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="ITINERARY" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CouOfRouCodITI1" type="simple:CountryCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Country of routing code" />
            <doc:codeList name="CountryCodesFullList" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MRNLSTMPERType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="PERIOD OF REQUEST" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DayPerFrPER11" type="simple:DateType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Day period from" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TimPerFrPER12" type="simple_ncts:Numeric_6" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Time period from" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DayPerToPER13" type="simple:DateType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Day period to" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TimPerToPER14" type="simple_ncts:Numeric_6" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Time period to" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MRNLSTMTYPType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="MSGTYPE" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MesTypTYP1" type="tcl_ncts:MessageTypes">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Message type" />
            <doc:codeList name="MessageTypes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MSGERRSEGDATERRType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="DATA ELEMENT ERRORS" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ErrTypDER1" type="tcl_ncts:ErrorCodesForEdiNck">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Error" />
            <doc:rule name="TR0901" />
            <doc:codeList name="ErrorCodesForEdiNck" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PosElmntDER2" type="simple:Numeric_Max3">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Position of erroneous data element" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PosCompDER3" type="simple:Numeric_Max3" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Position of erroneous data component" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MSGMRNINFINGType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="MSGINFO" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MesTypING1" type="tcl_ncts:MessageTypes">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Message type" />
            <doc:codeList name="MessageTypes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SeqIdING2" type="simple_ncts:Numeric_Max8">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Sequence id" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RepToIdING3" type="simple_ncts:Numeric_Max8" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Reply to" />
            <doc:rule name="TR9045" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouCodFrING4" type="tcl:CountryCodesCustomsOfficeLists">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Country code A" />
            <doc:codeList name="CountryCodesCustomsOfficeLists" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SenDatING5" type="simple_ncts:Numeric_14" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Sent Date" />
            <doc:rule name="R665" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouCodToING6" type="tcl:CountryCodesCustomsOfficeLists">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Country code B" />
            <doc:codeList name="CountryCodesCustomsOfficeLists" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecDatING7" type="simple:DateTypeExtended" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Received Date" />
            <doc:rule name="R665" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecRetCodING8" type="tcl:Flag" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Reception return code" />
            <doc:codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CoARepING9" type="tcl_ncts:CsiReturnedCode" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="CoA report" />
            <doc:codeList name="CsiReturnedCode" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CoDRepING10" type="tcl_ncts:CsiReturnedCode" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="CoD report" />
            <doc:codeList name="CsiReturnedCode" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EXPRepING11" type="tcl_ncts:CsiReturnedCode" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="EXP report" />
            <doc:codeList name="CsiReturnedCode" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EXCRepING12" type="tcl_ncts:CsiReturnedCode" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="EXC report" />
            <doc:codeList name="CsiReturnedCode" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PASSAGEType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="PASSAGE" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DatOfPasPAS627" type="simple:DateType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Date of passage" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="REPREPType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="REPRESENTATIVE" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NamREP5" type="simple:TradNameType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Name" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RepCapREP18" type="simple:Alphanumeric_Max35" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Representative capacity" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RepCapREP18LNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Representative capacity LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="REQENQINF376Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="REQUEST FOR ENQUIRY INFORMATION" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ReqInfCodREQENQINF379" type="simple:Numeric_1">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Requested Information Code" />
            <doc:rule name="R002" />
            <doc:codeList name="RequestedInformationCode" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReqInfREQENQINF378" type="simple:Alphanumeric_Max140" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Requested Information Text" />
            <doc:condition name="C330" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReqInfREQENQINF378LNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Requested Information Text LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RISANAType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="RISK ANALYSIS" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IteNumInvRKA1" type="simple:Numeric_Max5" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Item Number involved" />
            <doc:rule name="R824" />
            <doc:rule name="R875" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RisAnaResCodRKA1" type="simple:Alphanumeric_Max5">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Risk Analysis result code" />
            <doc:rule name="TR9175" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RisAnaTexRKA1" type="simple:Alphanumeric_Max350" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Risk Analysis text" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RisAnaTexRKA1LNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Risk Analysis LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SEAIDSI1Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="SEALS ID" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SeaIdeSI11" type="simple:Alphanumeric_Max20">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Seals identity" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SeaIdeSI11LNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Seals identity LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SEAIDSIDType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="SEALS ID" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SeaIdeSID1" type="simple:Alphanumeric_Max20">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Seals identity" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SeaIdeSID1LNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Seals identity LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SERELE202Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="SERIES ELEMENTS" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OthCouSERELE100" type="simple:Alpha_2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Other country" />
            <doc:codeList name="CountryCodesFullList" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouSERELE101" type="simple:Numeric_Max9">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Counter" />
            <doc:rule name="R021" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SERELESTACHA008Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="SERIES ELEMENTS" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SenCouCodSERELE003" type="simple:Alpha_2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Sending country code" />
            <doc:codeList name="CountryCodesFullList" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OthCouCodSERELESTA001" type="simple:Alpha_2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Other country code" />
            <doc:codeList name="CountryCodesFullList" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouSERELESTACHA7800" type="simple:Numeric_Max9">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Counter" />
            <doc:rule name="R021" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TRAAUTCONTRAType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(AUTHORISED CONSIGNEE) TRADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TINTRA59" type="simple:TINType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="TIN" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TRADED106Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(DEDICATED) TRADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Nam36" type="simple:TradNameType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Name" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LanCod37" type="simple:LanguageCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Language code" />
            <doc:codeList name="LanguageCodes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TIN38" type="simple:TINType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="TIN" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TRAPRIRC1Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(REQUESTER PRINCIPAL) TRADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TINRC159" type="simple:TINType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="TIN" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UNLREMREMType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="UNLOADING REMARK" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="StaOfTheSeaOKREM19" type="tcl:Flag" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="State of seals ok" />
            <doc:rule name="R200" />
            <doc:rule name="R340" />
            <doc:codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UnlRemREM53" type="simple:Alphanumeric_Max350" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Unloading remark" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UnlRemREM53LNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Unloading remark LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConREM65" type="simple:Numeric_1">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Conform" />
            <doc:rule name="R205" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UnlComREM66" type="tcl:Flag">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Unloading completion" />
            <doc:rule name="R186" />
            <doc:codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UnlDatREM67" type="simple:DateType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Unloading date" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UPEUPEType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="UPL ERROR" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ActIdUPE1" type="simple:Alphanumeric_Max20">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Action identification" />
            <doc:rule name="TR9009" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AttPatUPE2" type="simple:Alphanumeric_Max140" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Attribute path" />
            <doc:rule name="TR9010" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CodUPE3" type="simple:Alphanumeric_Max8">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Code" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DescUPE4" type="simple:Alphanumeric_Max210" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Description" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UPRUPRType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="UPL RESPONSE" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OrMesIdUPR1" type="simple:Alphanumeric_Max14">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Original message identification" />
            <doc:rule name="TR9006" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StatUPR2" type="simple:Alpha_Max8">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Status" />
            <doc:rule name="TR9007" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DescUPR3" type="simple:Alphanumeric_Max210" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Description" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="USAUSAType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="USAGE" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocNumUSA1" type="simple:MRNType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Document/reference number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CovAmoUSA2" type="simple:Decimal_15_2">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Covered amount" />
            <doc:rule name="R021" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurUSA3" type="simple:AlphaCapital3Type">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Currency" />
            <doc:rule name="R267" />
            <doc:codeList name="CurrencyCodes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LocDatUSA4" type="simple:DateType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Lock date" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArrDatUSA5" type="simple:DateType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Arrival date" />
            <doc:rule name="R264" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DatOfRelUSA6" type="simple:DateType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Date of release" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VALLIMECCMGType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="VALIDITY LIMITATION EC" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NotValForECCMG2" type="tcl:Flag">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Not valid for EC" />
            <doc:codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VALLIMECVLDType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="VALIDITY LIMITATION EC" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NotValForECVLD1" type="tcl:Flag">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Not valid for EC" />
            <doc:codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VALLIMECVLE2Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="VALIDITY LIMITATION EC" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NotValForECVLE21" type="tcl:Flag">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Not valid for EC" />
            <doc:codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VALLIMECVLEType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="VALIDITY LIMITATION EC" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NotValForECVLE1" type="tcl:Flag">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Not valid for EC" />
            <doc:codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VALLIMNONECLIM2Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="VALIDITY LIMITATION NON EC" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NotValForOthConPLIM22" type="tcl_ncts:CountryCodesGuaranteeManagementNonEc">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Not valid for other contracting parties" />
            <doc:rule name="R231" />
            <doc:codeList name="CountryCodesGuaranteeManagementNonEc" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VALLIMNONECLIMType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="VALIDITY LIMITATION NON EC" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NotValForOthConPLIM2" type="tcl_ncts:CountryCodesGuaranteeManagementNonEc">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Not valid for other contracting parties" />
            <doc:rule name="R231" />
            <doc:codeList name="CountryCodesGuaranteeManagementNonEc" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VALLIMNONECMITType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="VALIDITY LIMITATION NON EC" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NoValForOthConPMIT2" type="tcl_ncts:CountryCodesGuaranteeManagementNonEc">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Not valid for other contracting parties" />
            <doc:rule name="R231" />
            <doc:codeList name="CountryCodesGuaranteeManagementNonEc" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VALLIMNONECVLDType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="VALIDITY LIMITATION NON EC" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NotValForOthConPVLD2" type="tcl_ncts:CountryCodesGuaranteeManagementNonEc">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Not valid for other contracting parties" />
            <doc:rule name="R231" />
            <doc:codeList name="CountryCodesGuaranteeManagementNonEc" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

