conf/xsd/tcl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tcl="http://ncts.dgtaxud.ec/tcl" xmlns:doc="http://ncts.dgtaxud.ec/doc" targetNamespace="http://ncts.dgtaxud.ec/tcl" attributeFormDefault="unqualified" elementFormDefault="unqualified" version="40.20">
  <!--=========================================-->
  <!--===== Interdomain Codelists -->
  <!--===== DDNTA 20.00  -->
  <!--===== XSD version v40.20  -->
  <!--===== Aligned with RFC-List version 0.29-->
  <!--=========================================-->
  <!--===== Imports =====-->
  <xs:import namespace="http://ncts.dgtaxud.ec/doc" schemaLocation="doc.xsd" />
  <!--===== Codelists =====-->
  <!--=========================================-->
  <!--===== ModificationType =====-->
  <!--===== Used for (multiple) attribute Operation. All values are listed in the table below. The values of this codelist are also available and updated in CS/RD2. =====-->
  <!--===== Format: a1 =====-->
  <!--===== CL024 =====-->
  <!--=========================================-->
  <xs:simpleType name="ModificationType">
    <xs:annotation>
      <xs:documentation>Used for (multiple) attribute Operation. All values are listed in the table below. The values of this codelist are also available and updated in CS/RD2. [Format: a1]</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="C">
        <xs:annotation>
          <xs:documentation>Create</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="D">
        <xs:annotation>
          <xs:documentation>Delete</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="U">
        <xs:annotation>
          <xs:documentation>Update</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <!--=========================================-->
  <!--===== MonthOfYear =====-->
  <!--===== Format: an2 =====-->
  <!--===== CL026 =====-->
  <!--=========================================-->
  <xs:simpleType name="MonthOfYear">
    <xs:annotation>
      <xs:documentation>[Format: an2]</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="01">
        <xs:annotation>
          <xs:documentation>January</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="02">
        <xs:annotation>
          <xs:documentation>February</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="03">
        <xs:annotation>
          <xs:documentation>March</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="04">
        <xs:annotation>
          <xs:documentation>April</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="05">
        <xs:annotation>
          <xs:documentation>May</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="06">
        <xs:annotation>
          <xs:documentation>June</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="07">
        <xs:annotation>
          <xs:documentation>July</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="08">
        <xs:annotation>
          <xs:documentation>August</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="09">
        <xs:annotation>
          <xs:documentation>September</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="10">
        <xs:annotation>
          <xs:documentation>October</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="11">
        <xs:annotation>
          <xs:documentation>November</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="12">
        <xs:annotation>
          <xs:documentation>December</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <!--=========================================-->
  <!--===== Flag =====-->
  <!--===== Used for attributes that can have a positive or a negative value. All values are listed in the table below. The values of this codelist are also available and updated in CS/RD2. =====-->
  <!--===== Format: n1 =====-->
  <!--===== CL027 =====-->
  <!--=========================================-->
  <xs:simpleType name="Flag">
    <xs:annotation>
      <xs:documentation>Used for attributes that can have a positive or a negative value. All values are listed in the table below. The values of this codelist are also available and updated in CS/RD2. [Format: n1]</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="0">
        <xs:annotation>
          <xs:documentation>NO</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:documentation>YES</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <!--=========================================-->
  <!--===== FunctionalErrorCodes =====-->
  <!--===== - Subset of the UN/EDIFACT generic error table. All values are listed in the table below. The values of this codelist are also available and updated in CS/RD2. =====-->
  <!--===== Format: n2 =====-->
  <!--===== CL049 =====-->
  <!--=========================================-->
  <xs:simpleType name="FunctionalErrorCodes">
    <xs:annotation>
      <xs:documentation>- Subset of the UN/EDIFACT generic error table. All values are listed in the table below. The values of this codelist are also available and updated in CS/RD2. [Format: n2]</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="12">
        <xs:annotation>
          <xs:documentation>Incorrect (code) value</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="13">
        <xs:annotation>
          <xs:documentation>Missing</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="14">
        <xs:annotation>
          <xs:documentation>Value not supported in this position (code value constraint)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="15">
        <xs:annotation>
          <xs:documentation>Not supported in this position</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="19">
        <xs:annotation>
          <xs:documentation>Invalid decimal notation</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="26">
        <xs:annotation>
          <xs:documentation>Duplicate detected</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="35">
        <xs:annotation>
          <xs:documentation>Too many repetitions</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="37">
        <xs:annotation>
          <xs:documentation>Invalid type characters</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="38">
        <xs:annotation>
          <xs:documentation>Missing digit in front of decimal sign</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="39">
        <xs:annotation>
          <xs:documentation>Element too long (length constraint)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="40">
        <xs:annotation>
          <xs:documentation>Element too short (length constraint)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="90">
        <xs:annotation>
          <xs:documentation>Unknown MRN</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="91">
        <xs:annotation>
          <xs:documentation>Duplicate MRN</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="92">
        <xs:annotation>
          <xs:documentation>Message out of sequence</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="93">
        <xs:annotation>
          <xs:documentation>Invalid MRN</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <!--=========================================-->
  <!--===== PrefixSuffixLevel =====-->
  <!--===== Used for CUSTOMS OFFICE LSD. =====-->
  <!--===== Format: an1 =====-->
  <!--===== CL053 =====-->
  <!--=========================================-->
  <xs:simpleType name="PrefixSuffixLevel">
    <xs:annotation>
      <xs:documentation>Used for CUSTOMS OFFICE LSD. [Format: an1]</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="A">
        <xs:annotation>
          <xs:documentation>Simple office (see box A in Customs Office List)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="E">
        <xs:annotation>
          <xs:documentation>Higher authority (see box E in Customs Office List)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <!--=========================================-->
  <!--===== CountryCodesCustomsOfficeLists =====-->
  <!--===== All the countries included in code list CL009 excluding 'AX', 'GF', 'GG', 'GP', 'IM', 'JE', 'LI', 'MC', 'MF', 'MQ', 'RE', 'SJ' and 'YT'. This codelist is used for the Customs Office List. Values are shown for illustration only. =====-->
  <!--===== Format: a2 =====-->
  <!--===== CL070 =====-->
  <!--=========================================-->
  <xs:simpleType name="CountryCodesCustomsOfficeLists">
    <xs:annotation>
      <xs:documentation>All the countries included in code list CL009 excluding 'AX', 'GF', 'GG', 'GP', 'IM', 'JE', 'LI', 'MC', 'MF', 'MQ', 'RE', 'SJ' and 'YT'. This codelist is used for the Customs Office List. Values are shown for illustration only. [Format: a2]</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="AD">
        <xs:annotation>
          <xs:documentation>Andorra</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AT">
        <xs:annotation>
          <xs:documentation>Austria</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BE">
        <xs:annotation>
          <xs:documentation>Belgium</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BG">
        <xs:annotation>
          <xs:documentation>Bulgaria</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CH">
        <xs:annotation>
          <xs:documentation>Switzerland</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CY">
        <xs:annotation>
          <xs:documentation>Cyprus</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CZ">
        <xs:annotation>
          <xs:documentation>Czech Republic</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DE">
        <xs:annotation>
          <xs:documentation>Germany</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DK">
        <xs:annotation>
          <xs:documentation>Denmark</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EE">
        <xs:annotation>
          <xs:documentation>Estonia</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ES">
        <xs:annotation>
          <xs:documentation>Spain</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FI">
        <xs:annotation>
          <xs:documentation>Finland</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FR">
        <xs:annotation>
          <xs:documentation>France</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="GB">
        <xs:annotation>
          <xs:documentation>United Kingdom of Great Britain and Northern Ireland</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="GR">
        <xs:annotation>
          <xs:documentation>Greece</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="HR">
        <xs:annotation>
          <xs:documentation>Croatia</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="HU">
        <xs:annotation>
          <xs:documentation>Hungary</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="IE">
        <xs:annotation>
          <xs:documentation>Ireland</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="IS">
        <xs:annotation>
          <xs:documentation>Iceland</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="IT">
        <xs:annotation>
          <xs:documentation>Italy</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LT">
        <xs:annotation>
          <xs:documentation>Lithuania</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LU">
        <xs:annotation>
          <xs:documentation>Luxembourg</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LV">
        <xs:annotation>
          <xs:documentation>Latvia</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MK">
        <xs:annotation>
          <xs:documentation>The former Yugoslav Republic of Macedonia</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MT">
        <xs:annotation>
          <xs:documentation>Malta</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NL">
        <xs:annotation>
          <xs:documentation>Netherlands</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NO">
        <xs:annotation>
          <xs:documentation>Norway</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PL">
        <xs:annotation>
          <xs:documentation>Poland</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PT">
        <xs:annotation>
          <xs:documentation>Portugal</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RO">
        <xs:annotation>
          <xs:documentation>Romania</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RS">
        <xs:annotation>
          <xs:documentation>Serbia</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SE">
        <xs:annotation>
          <xs:documentation>Sweden</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SI">
        <xs:annotation>
          <xs:documentation>Slovenia</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SK">
        <xs:annotation>
          <xs:documentation>Slovakia</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SM">
        <xs:annotation>
          <xs:documentation>San Marino</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TR">
        <xs:annotation>
          <xs:documentation>Turkey</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <!--=========================================-->
  <!--===== SystemUnavailabilityType =====-->
  <!--===== Used for the attribute SYSTEM UNAVAILABILITY.System Unavailability Type. =====-->
  <!--===== Format: a1 =====-->
  <!--===== CL079 =====-->
  <!--=========================================-->
  <xs:simpleType name="SystemUnavailabilityType">
    <xs:annotation>
      <xs:documentation>Used for the attribute SYSTEM UNAVAILABILITY.System Unavailability Type. [Format: a1]</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="N">
        <xs:annotation>
          <xs:documentation>Business service not implemented</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="S">
        <xs:annotation>
          <xs:documentation>Scheduled Unavailability</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="U">
        <xs:annotation>
          <xs:documentation>Unscheduled Unavailability</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <!--=========================================-->
  <!--===== DayInTheWeek =====-->
  <!--===== Format: n1 =====-->
  <!--===== CL105 =====-->
  <!--=========================================-->
  <xs:simpleType name="DayInTheWeek">
    <xs:annotation>
      <xs:documentation>[Format: n1]</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:documentation>Monday</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:documentation>Tuesday</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation>
          <xs:documentation>Wednesday</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="4">
        <xs:annotation>
          <xs:documentation>Thursday</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="5">
        <xs:annotation>
          <xs:documentation>Friday</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="6">
        <xs:annotation>
          <xs:documentation>Saturday</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="7">
        <xs:annotation>
          <xs:documentation>Sunday</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <!--=========================================-->
  <!--===== CustomSystem =====-->
  <!--===== Custom System applicable domain =====-->
  <!--===== Format: n..2 =====-->
  <!--===== CL136 =====-->
  <!--=========================================-->
  <xs:simpleType name="CustomSystem">
    <xs:annotation>
      <xs:documentation>Custom System applicable domain [Format: n..2]</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:documentation>NCTS</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:documentation>ECS</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation>
          <xs:documentation>ICS</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="4">
        <xs:annotation>
          <xs:documentation>EOS</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

